# Environments
.env
.venv
env/
venv/
ENV/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating System files
.DS_Store
Thumbs.db

# IDE configuration folders
.vscode/
.idea/